
<h3 class="heading">Edit or Delete Item</h3>

	    
    <form method="get" action="">
        <h4>Enter the Handle or internal item ID of the item you want to edit or
            delete.</h4>

    <div class="col-md-12" style=" display: flex; justify-content: space-between;
    align-items: center; padding-top: 15px;">
       
        <label style="flex-basis: 30%; font-size: 17px;" class="pull-left">Handle:</label>
        <div style="flex-basis: 70%;">
            <div style="display: flex; align-content: center; justify-content: space-between;width: 100%;">

        <input type="text" id="filterquery" style="width: 90%;" name="filter_value_1" size="45" class="form-control" autocomplete="off" 
            />
            <button type="button" class="btn btn-info">Find</button>

           </div>
           </div>
    </div>


  <div class="col-md-12" style=" display: flex; justify-content: space-between;
        align-items: center; padding-top: 15px;">
           
            <label style="flex-basis: 30%; font-size: 17px;" class="pull-left">Internal ID:</label>
            <div style="flex-basis: 70%;">
                <div style="display: flex; align-content: center; justify-content: space-between;width: 100%;">
    
            <input type="text" id="filterquery" style="width: 90%;" name="filter_value_1" size="45" class="form-control" autocomplete="off" 
                />
                <button type="button" class="btn btn-info">Find</button>
    
               </div>
               </div>
        </div>









  
    </form>
