<mat-toolbar class="toolbar" class="header-box-shadow">
    <!-- <div class="notification" (click)="dropThis()">
        <mat-icon class="material-symbols-outlined">notifications</mat-icon>
        <div class="badge">9+</div>
    </div> -->
    <ng-container *>
        <div class="profile" [routerLink]="['/my-profile']">
            <mat-icon class="material-symbols-rounded img-box">account_circle</mat-icon>
            <img alt="yay" class="img-box">
            <span>yo</span>
            <!-- <mat-icon class="material-symbols-rounded expand-icon">expand_more</mat-icon> -->
        </div>
    </ng-container>


</mat-toolbar>