<h3 class="heading">Advance Emails</h3>

<form id="main-form" method="post">
    <div class="col-md-12" style=" display: flex; justify-content: space-between;
    align-items: center; padding-top: 15px;">
              <label style="flex-basis: 30%; font-size: 14px;">Preset Emails</label>
              <div style="flex-basis: 70%;">

             <input style="width: 100%;" size="45" class="form-control" name="subject" type="text" id="subject" value="">
           </div>
    </div>     
    <div class="col-md-12" style=" display: flex; justify-content: space-between;
    align-items: center; padding-top: 15px;">
              <label style="flex-basis: 30%; font-size: 14px;">Subject</label>
              <div style="flex-basis: 70%;">

             <input style="width: 100%;" size="45" class="form-control" name="subject" type="text" id="subject" value="">
           </div>
    </div>     
    <div class="col-md-12" style=" display: flex; justify-content: space-between;
    align-items: center; padding-top: 15px;">	
             <label style="flex-basis: 30%; font-size: 14px;">Subject</label>
             <div style="flex-basis: 70%;">

             <textarea id="mailbody" class="form-control" name="mailbody" rows="10" cols="74"></textarea>
           </div>
    </div>
               
            

    <div style="text-align: center;">
        <button type="button" class="btn btn-primary submitBtn">Send</button>
    </div>


</form>