<ng-container>
  <mat-sidenav-container class="example-container" *ngIf="!isLoginOrRegisterScreenOpen()">
    <mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav">
      <app-sidemenu></app-sidemenu>
    </mat-sidenav>

    <mat-sidenav-content perfectScrollbar>
      <app-header
        style="position: fixed; top: 0; left: 0; right: 0; z-index: 1;"
        *ngIf="!isLoginOrRegisterScreenOpen()"
      ></app-header>
      <div
        style="
          height: 100%;
          padding-top: 58px;
          background: linear-gradient(#e66465, #9198e5);
        "
      >
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <router-outlet *ngIf="isLoginOrRegisterScreenOpen()"></router-outlet>
</ng-container>
