/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-list-item{
    background: transparent;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid gray;
}

mat-list-item:hover{
    background: beige;
}